<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员登录</title>
</head>
<body>
<#if err="1">
    <h3>账户不存在</h3>
<#elseif err="2">
密码错误
<#elseif err="">
<#elseif err = "3">
注册成功
<#else>
</#if>

<form action="/user/login"  method="post">
    账号:<input type="text" name="username"/><br/>
    密码:<input type="text" name="password"/><br/>
    <input type="submit" value="登录"/>
    <input type="button" value="注册" onclick="window.location.href = 'reg'"/>
</form>
</body>
</html>