<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生成绩展示</title>
</head>
<body>
<h2>学生成绩</h2>
<input type = "button" value = "返回学生页面" onclick="window.location.href ='/test/show'">
<table border="1" width="80%">
    <tr>
        <th>学生学号</th>
        <th>学生姓名</th>
        <th>语文</th>
        <th>英语</th>
        <th>数学</th>
        <th>操作</th>
    </tr>

    <tr>
        <td>${r.id}</td>
        <td>${r.name}</td>
        <td>${r.chinese}</td>
        <td>${r.english}</td>
        <td>${r.math}</td>
        <td>
            <a href="/result/show?id=${r.id}">添加/修改成绩</a>
        </td>
    </tr>
</table>
</body>
</html>