<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生信息展示</title>
</head>
<body>
<h1>学生信息</h1>
<input type = "button" value = "新增学生信息" onclick="window.location.href ='add'">
<table border="1" width="80%">
<tr>
    <th>学生学号</th>
    <th>学生姓名</th>
    <th>学生性别</th>
    <th>学生年龄</th>
    <th>操作</th>
</tr>
<#list show as s>
    <tr>
        <td>${s.id}</td>
        <td>${s.name}</td>
        <td>${s.sex}</td>
        <td>${s.age}</td>
        <td>
            <a href="init?id=${s.id}">修改</a>
            <a href="delete?id=${s.id}">删除</a>
            <a href="/result/select?id=${s.id}">查询学生成绩</a>
        </td>
    </tr>
</#list>
</table>
</body>
</html>